@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
  /*padding-bottom: 2.5rem;*/
  background-color: royalblue;
}

p {
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  color: #acacac;
}

h1 {
  color: #cccccc;
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;

}
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 100px;
}
h3 {

  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 60px;

}

/*body {*/
/*  margin: 0;*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*  !*padding-bottom: 2.5rem;*!*/
/*}*/
p {
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

/*h1 {*/
/*  margin: 5px;*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/
/*h2 {*/
/*  padding-top: 15px;*/
/*  margin: 5px;*/
/*  padding-bottom: 15px;*/
/*}*/



/*.iinput {*/
/*  !*margin: 5px;*!*/
/*  width: 500px;*/
/*  font-family: 'Raleway', sans-serif;*/
/*  font-weight: normal;*/
/*  font-size: 60px;*/
/*}*/

input[type="text"] {
    font-size:40px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

#ok {
    width: 5em;  height: 50mm;
    font-size:30px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

.navbar {
  overflow: hidden;
  /*background-color: #333;*/
  /*position: fixed;*/
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.dev-center {
  width:100%;
  margin:0 auto;
  max-width: 800px;

}

.dev-center-head {
  width:100%;
  margin:0 auto;
  max-width: 850px;
}

.hero-image {
  background-image: url("images/header.jpg");
  background-color: #cccccc;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  width: 100%;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.code {
  color: white;
  font-family:Consolas, monospace;
}

.line {
  width: 120px;
  height: 20px;
  border-bottom: 2px solid black;
  position: absolute;
  left: 50%;
  margin-left: -60px;
}

#block_container {
    text-align: center;
}
#block1 {
    cursor: grab;
}

#block1black {
    display: inline;
    color: black;
    font-family:Consolas, monospace;
    padding: 0px;
    padding-inline: 0px;
    cursor: grab;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;;            /* Footer height */
  background-color:#000000;
}

table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 5px;
}
table.blueTable tbody td {
  font-size: 16px;
}
table.blueTable thead {
  background: black;
  /*background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);*/
  /*background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);*/
  /*background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);*/
  border-bottom: 1px solid #444444;
}
table.blueTable thead th {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}





